extends layout

append metacontent
  meta(content=tagList)

block content
  each post in postList
    .blogentry
      h3 
        a(href=post.url) #{post.title}
      h6 posted on #{post.date.getMonth()+1}.#{post.date.getDate()}.#{post.date.getFullYear()}
      | <br>
      .blogcontent !{post.content}
      .tags
        h5 Tags
        each tag in post.tags
          .tag 
            a(href=tagUrl(tag)) #{tag}
  block nav
    .blog-nav
      h4 Recent Entries 
      ul.blog-preview
        each post in postList
          li
            a(href=post.url) #{post.title}
      h4.tagbutton Tags
      ul.globaltags
        each tag in tagList
          .globaltag
            a(href=tagUrl(tag)) #{tag}

