extends layout

block content
  h3 Welcome to BrdyOrn.com 
  p
    | I'm in the process of building 
    a(href='http://github.com/tippenein/brdyorn.com') this site, 
    | but feel free to look around.
    | <br>
    | <br>
    | Take a look at my 
    a(href='/projects') projects
    | <br>
    | or contact me  
    a(href='/contact') here
    ul.blog-preview
      each post in postList
        li
          a(href=#{post.url}) #{post.title}
    each post in postList
      .blogentry
        h3 #{post.title}
        h6 posted on #{post.date}
        | <br>
        p !{post.content}
        .tags
          h5 Tags
          meta(content=#{post.tags})
          each tag in post.tags
            .tag 
              a(href=#{tagUrl(tag)}) #{tag}

  //img(src='imgs/sloth_profile.jpg')
block sidebar
